.carrosselFavoritos {
    margin: 20px;
    padding: 10px;
    background-color: #262626;
    max-width: 100%;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #2271D1;
}
.carrosselFavoritos-item {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    
}
.carrosselFavoritos-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
