.campo-texto {
    margin: 24px;

}
.campo-texto label {
    display: block;
    
    
}
.campo-texto input {
    background-color: #191919 ;
    border: solid 1px #2271D1;
    color: white;
    
}

.campo-texto input::placeholder{
    color: #ffffff;
}